.displayGrid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    
}

.filecont-cont{
    min-height: calc(100vh - 240px);
    padding-bottom: 55px;
}

.directory{
    width: 100%;
    height: 50px;
    background-color: var(--var-dt-bodyColor);
    border-top: solid 1px rgb(92,92,92);
    color: rgb(159,159,159);
    font-size: 17pt;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    padding-left: 10px;
}
.directory span {
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directoryBtn {
    padding: 6px 10px 6px 10px;
    font-weight: normal;
    border-radius: 4px;
    cursor: pointer;
    font-size: 9pt;
}

.directoryBtn:hover {
    background-color: #000;
    color: #fff;
}
.fileContainer {
    width: calc(100% - 2px);
    border: solid 1px var(--var-dt-bodyColor);
    border-bottom: solid 1px rgb(78,78,78);
    color: rgb(180,180,180);
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 10pt;
    animation: appearFile ease-in-out 0.2s;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dragger{
    max-width: 150px;
    height: 35px;
    background-color: var(--var-dt-bodyColor);
    align-items: center;
    justify-content: center;
    font-size: 10pt;
    position: absolute;
    color: #fff;
    z-index: 80;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px rgb(101,101,101);
}

.dragger p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dragger .howManyselected {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    color: #3d3d3d;
}

@keyframes appearFile{
    0%{
        opacity: 0;
    }
    100%{
        opacity:100;
    }
}

.elemName {
    max-width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    margin-right: auto;
}
.elemSize {
    width: 55px;
    text-align: left;
    margin-right: calc(20% - 105px);
    margin-left: auto;
}
.grid {
    width: 150px;
    height: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: none;
    border-radius: 0.3em;
    margin-top: 20px;
    text-align: center;
    border: solid 1px transparent;
}
.fileThumbnail {
 width: 25px;
 height: 25px;
 overflow: hidden;
 margin :0 13px 0 10px;
 filter: grayscale(70%);
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 2px;
}



.fileContainer.grid>.fileThumbnail {
    border: solid 1px rgb(76,76,76);
    background-color: rgb(34,34,34);
    width: 100px;
    height: 100px;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}

.fileContainer.grid>.elemName {
    margin-right: 0;
}

.fileContainer.grid>.elemSize {
    display: none;
}

.fileThumbnail>img{
    width: 100%;
}


.hidden {
    opacity: 0;
}
.FileOptIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;
}
.FileOptIcons:hover {
    color: rgba(255,255,255,0.6);
}
.FileOptButtons {
    display: flex;
    align-items: center;
    font-size: 12pt;
    margin: 0 30px 0 auto;
    width: 110;
    justify-content: space-between;
}

.nameChangeInput{
color: rgb(204,204,204);
background-color: #000;
border: none;
padding: 7px 10px 7px 10px;
border-radius: 3px;
}

.nameChangeInput:focus{
    outline: none;
}

.fileContainer:hover {
    background-color: rgb(34,34,34);
}

.newDropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 200px;
    background-color: #242424;
    padding: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    left: 370px;
    z-index: 10;
}

.dropdown-buttonIcon {
    display: flex;
    align-items: center;
    font-size: 15pt;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    padding: 5px 0 5px 0;
    cursor: pointer;
    font-size: 10pt;
    display: flex;
}
.dropdown-buttonIcon svg {
    margin-right: 10px;
}
.dropdown-buttonIcon:hover {
    color: rgb(190,190,190)
}

.noFiles{
    width: 100%;
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(208,208,208);
}

.noFiles h3 {
    margin-bottom: 5px;
}

.noFiles p {
    margin: 0;
}
.noFiles b {
    font-size: 10pt;
}
.noFiles .emojiArea{
    font-size: 50pt;
}
.dropDownShow {
    top: 142px;
    opacity: 1;
    visibility: visible;
}

.Newbtn {
    margin-right: 20px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 7px 13px 7px 13px;

    color: rgb(158,158,158);
    transition: color 0.1s ease-in-out;
}
.Newbtn:hover {
    color: rgb(190,190,190);
}
.Newbtn-icon {
    font-size: 15pt;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.unselectButton {
    color: #575757;
    margin-left: 10px;
    font-size: 8.5pt;
    cursor: pointer;
    display: flex;
}
.fileControlOptions {
    z-index: 2;
    background-color: var(--var-dt-bodyColor);
    width: 100%;
    height: 70px;
    color: rgb(162,162,162);
    font-size: 10pt;
    position: sticky;
    top: 71px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgb(69,69,69);
}
.FCObtn {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    transition: opacity 0.1s ease-in-out;
}
.dragSquare {
    background-color: rgba(0,0,0,0.2);
    border: solid 1px rgb(41, 41, 41);
    position: absolute;
    z-index: 2;
    width: 0;
    height: 0;
}

.howManySelected {
    display: flex;
}

.viewStyle {
    margin-right: 20px;
    margin-left: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 7px;
    color: #636363;
    transition: color 0.1s ease-in-out;
    font-size: 16pt;
}

.arrangeBar{
    border-bottom: solid 1px rgb(69,69,69);
    color: rgb(186,186,186);
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 10pt;
    padding-left: 48px;
    position: sticky;
    background-color: var(--var-dt-bodyColor);
    z-index: 1;
    top: 141px;
}

.arrangeBar>b:nth-child(1){
    display: flex;
    align-items: center;
    z-index: 1;
    width: calc((100% + 48px)*0.8);
}

.uploadingProgress{
    margin-left: 10px;
    margin-right: 10px;
    width: 80px;
    background-color: #000;
    -webkit-appearance: none;
    height: 1px;
    background: transparent;
    border: none;
    transition: all 0.2s ease-in-out;
    -webkit-appearance: none;
}

.uploadingProgress::-webkit-progress-bar {
  
    background-color: #858585;
  }
  .uploadingProgress::-webkit-progress-value {
    
    background-color: rgb(68, 68, 68);
  }
  .uploadingProgress::-moz-progress-bar {
  
    background-color: #858585;
  }

  .fileName{
      display: block;
      margin-right: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 300px;
  }
  .fileContainer.grid>.fileName {
    width: 140px;
    margin-right:0;
}

@media (max-width: 800px) {
    .fileName{
        display: block;
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px;
    }

    .arrangeBar{
        display: none;
    }
    
    .newDropdown {
        left: 25px;
        top: 150px;
    }
    .dropDownShow {
        top: 180px;
        opacity: 1;
        visibility: visible;
    }
    
    .fileControlOptions {
        top: 71px;
        position: sticky;
    }
    .fileContainer {
        width: 90%;
    }
    .grid {
        width: 25%;
        height: 150px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: none;
        border-radius: 0.3em;
        margin-top: 20px;
        margin-left: 6%;
    }
    .filecont-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .displayGrid {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: space-evenly;
    }
    .Newbtn {
        margin-left: 25px;
    }
    .howManySelected {
        display: none;
    }
    .unselectButton {
        display: none;
    }
  }
  @media (max-width: 500px) {
    .elemSize {
        display: none;
    }
    .grid {
        width: 40%;
        height: 150px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        border: none;
        border-radius: 0.3em;
        margin-top: 20px;
        margin-left: 6.5%;
    }
    .fileName{
        display: block;
        margin-right: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 120px;
    }
  }
