.mainContentArea {
    display: flex;
    width: calc(100% - 360px);
    margin-right: 0;
    margin-left: 360px;
    padding-top: 80px;
    background-color: inherit;
    flex-direction: column;
}

@media (max-width: 800px) {
    .mainContentArea {
        width: 100%;
        margin-left: 0;
        padding-top: 101px;
        font-family: 'Ubuntu', sans-serif;
    }    
  }