.vault-locked-cont{
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vault-locker {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vault-title{
    color: rgba(255,255,255,.7);
    font-size: 12pt;
}
.vault-pw{
    position: relative;
}

.vault-pw input[type="password"] {
    background-color: #000;
    padding: 10px 40px 10px 15px;
    color: rgba(255,255,255,.7);
    border-radius: 5px;
    height: 35px;
    width: 200px;
    font-size: 12pt;
    border: solid 2px transparent;
    caret-color: transparent;
    transition: border 0.2s ease-in-out;
}

.vault-pw input[type="password"]:focus {
    outline: none;
    border: solid 2px rgba(255,255,255,.3);
}

.vault-logo{
    color: rgba(255,255,255,.5);
    font-size: 30pt;
}
.vault-login-option{
    display: flex;
    flex-direction: row;
    color: rgba(255,255,255,.3);
    font-size: 9pt;
    align-items: center;
    padding: 0px 10px 0px 10px;
    margin-bottom: 10px;
}
.vault-login-option p{
    margin-left: 10px;
}
.vault-login-option input{
    margin-right: 10px;
}
.vault-pwcheck {
    position: absolute;
    background-color: rgba(255,255,255,.2);
    width: 25px;
    height: 25px;
    border-radius: 5px;
    top:5px;
    right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    color: rgba(255,255,255,.3);
}
.vault-pwcheck:hover{
    background-color: rgba(255,255,255,.3);
    color: rgba(255,255,255,.5);
}
.vault-forgot-pw{
    color: rgba(255,255,255,.3);
    font-size: 8pt;
    cursor: pointer;
}

.vault-guide {
    width: 200px;
    background-color: rgba(255,255,255,.3);
    color: rgba(255,255,255.8);
    font-size: 8pt;
    padding: 10px;
}